<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>

<link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>

<h1>这是标题 1</h1>
<h1 id="myHeader1">这是标题 1 ID</h1>
<h1 class="myHeader2">这是标题 1 CLASS</h1>

<table id="mytable">
    <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
    </tr>
    <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
    </tr>
</table>
<img src="static/pic.png" alt="photo">
</body>
</html>
